[submodule "dcs"]
	path = dcs
	url = git@github.com:sauce-net/dcs.git
[submodule "lxc"]
	path = lxc
	url = git@github.com:sauce-net/lxc.git
[submodule ".sauce"]
	path = .sauce
	url = git@github.com:codyconfer/.sauce.git
